/ch01_Intro/hello/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/appsettings.Development.json
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/appsettings.json
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello.deps.json
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello.dll
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello.pdb
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello.runtimeconfig.dev.json
/ch01_Intro/hello/bin/Debug/netcoreapp3.1/hello.runtimeconfig.json
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.AssemblyInfo.cs
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.AssemblyInfoInputs.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.MvcApplicationPartsAssemblyInfo.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.RazorTargetAssemblyInfo.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.assets.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.csproj.CoreCompileInputs.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.csproj.FileListAbsolute.txt
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.csprojAssemblyReference.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.dll
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.genruntimeconfig.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/hello.pdb
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/project.razor.json
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/staticwebassets/hello.StaticWebAssets.Manifest.cache
/ch01_Intro/hello/obj/Debug/netcoreapp3.1/staticwebassets/hello.StaticWebAssets.xml
/ch01_Intro/hello/obj/hello.csproj.nuget.dgspec.json
/ch01_Intro/hello/obj/hello.csproj.nuget.g.props
/ch01_Intro/hello/obj/hello.csproj.nuget.g.targets
/ch01_Intro/hello/obj/project.assets.json
/ch01_Intro/hello/obj/project.nuget.cache
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable.deps.json
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable.dll
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable.pdb
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable.runtimeconfig.dev.json
/ch02_MulPlfm/Assembly_01_Reusable/bin/Debug/netcoreapp3.1/Assembly_01_Reusable.runtimeconfig.json
/ch02_MulPlfm/Assembly_01_Reusable/obj/Assembly_01_Reusable.csproj.nuget.dgspec.json
/ch02_MulPlfm/Assembly_01_Reusable/obj/Assembly_01_Reusable.csproj.nuget.g.props
/ch02_MulPlfm/Assembly_01_Reusable/obj/Assembly_01_Reusable.csproj.nuget.g.targets
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.AssemblyInfo.cs
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.AssemblyInfoInputs.cache
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.assets.cache
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.dll
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.genruntimeconfig.cache
/ch02_MulPlfm/Assembly_01_Reusable/obj/Debug/netcoreapp3.1/Assembly_01_Reusable.pdb
/ch02_MulPlfm/Assembly_01_Reusable/obj/project.assets.json
/ch02_MulPlfm/Assembly_01_Reusable/obj/project.nuget.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/bin/Debug/NetApp.exe
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/bin/Debug/NetApp.exe.config
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/bin/Debug/NetApp.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/bin/Debug/NetLib.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/bin/Debug/NetLib.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.csproj.CopyComplete
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.exe
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/NetApp.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetApp/obj/Debug/build.force
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.deps.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.exe
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.runtimeconfig.dev.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetCoreApp.runtimeconfig.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetLib.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/bin/Debug/netcoreapp3.1/NetLib.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.AssemblyInfo.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.AssemblyInfoInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.assets.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.csproj.CopyComplete
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.exe
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.genruntimeconfig.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/NetCoreApp.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/Debug/netcoreapp3.1/apphost.exe
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/NetCoreApp.csproj.nuget.dgspec.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/NetCoreApp.csproj.nuget.g.props
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/NetCoreApp.csproj.nuget.g.targets
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/project.assets.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetCoreApp/obj/project.nuget.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/bin/Debug/netstandard2.0/NetLib.deps.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/bin/Debug/netstandard2.0/NetLib.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/bin/Debug/netstandard2.0/NetLib.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.AssemblyInfo.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.AssemblyInfoInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.assets.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/Debug/netstandard2.0/NetLib.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/NetLib.csproj.nuget.dgspec.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/NetLib.csproj.nuget.g.props
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/NetLib.csproj.nuget.g.targets
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/project.assets.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetLib/obj/project.nuget.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.0/NetStandard.deps.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.0/NetStandard.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.0/NetStandard.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.1/NetStandard.deps.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.1/NetStandard.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/bin/Debug/netstandard2.1/NetStandard.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.AssemblyInfo.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.AssemblyInfoInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.assets.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.0/NetStandard.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.AssemblyInfo.cs
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.AssemblyInfoInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.assets.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.csproj.CoreCompileInputs.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.csproj.FileListAbsolute.txt
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.csprojAssemblyReference.cache
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.dll
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/Debug/netstandard2.1/NetStandard.pdb
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/NetStandard.csproj.nuget.dgspec.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/NetStandard.csproj.nuget.g.props
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/NetStandard.csproj.nuget.g.targets
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/project.assets.json
/ch02_MulPlfm/Assembly_02_Forwarding/NetStandard/obj/project.nuget.cache
/ch03_DI/Cat/obj/Cat.csproj.nuget.dgspec.json
/ch03_DI/Cat/obj/Cat.csproj.nuget.g.props
/ch03_DI/Cat/obj/Cat.csproj.nuget.g.targets
/ch03_DI/Cat/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ch03_DI/Cat/obj/Debug/net5.0/Cat.AssemblyInfo.cs
/ch03_DI/Cat/obj/Debug/net5.0/Cat.AssemblyInfoInputs.cache
/ch03_DI/Cat/obj/Debug/net5.0/Cat.GeneratedMSBuildEditorConfig.editorconfig
/ch03_DI/Cat/obj/Debug/net5.0/Cat.assets.cache
/ch03_DI/Cat/obj/Debug/net5.0/Cat.csproj.CoreCompileInputs.cache
/ch03_DI/Cat/obj/Debug/net5.0/Cat.csproj.FileListAbsolute.txt
/ch03_DI/Cat/obj/Debug/net5.0/Cat.csprojAssemblyReference.cache
/ch03_DI/Cat/obj/project.assets.json
/ch03_DI/Cat/obj/project.nuget.cache
/ch03_DI/.vs/CatFrame/v16/*.suo
/ch03_DI/CatFrame/.vs/CatFrame/DesignTimeBuild/*.v2
/ch03_DI/CatFrame/.vs/CatFrame/v16/*.suo
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.deps.json
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.dll
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.exe
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.pdb
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.runtimeconfig.dev.json
/ch03_DI/CatFrame/bin/Debug/net5.0/CatFrame.runtimeconfig.json
/ch03_DI/CatFrame/bin/Debug/net5.0/ref/CatFrame.dll
/ch03_DI/CatFrame/obj/CatFrame.csproj.nuget.dgspec.json
/ch03_DI/CatFrame/obj/CatFrame.csproj.nuget.g.props
/ch03_DI/CatFrame/obj/CatFrame.csproj.nuget.g.targets
/ch03_DI/CatFrame/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.AssemblyInfo.cs
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.AssemblyInfoInputs.cache
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.GeneratedMSBuildEditorConfig.editorconfig
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.assets.cache
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.csproj.CoreCompileInputs.cache
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.csproj.FileListAbsolute.txt
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.csprojAssemblyReference.cache
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.dll
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.genruntimeconfig.cache
/ch03_DI/CatFrame/obj/Debug/net5.0/CatFrame.pdb
/ch03_DI/CatFrame/obj/Debug/net5.0/apphost.exe
/ch03_DI/CatFrame/obj/Debug/net5.0/ref/CatFrame.dll
/ch03_DI/CatFrame/obj/project.assets.json
/ch03_DI/CatFrame/obj/project.nuget.cache
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/Foobar.AssemblyInfo.cs
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/Foobar.AssemblyInfoInputs.cache
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/Foobar.assets.cache
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/Foobar.csproj.FileListAbsolute.txt
/ch03_DI/Foobar/obj/Debug/netcoreapp3.1/Foobar.csprojAssemblyReference.cache
/ch03_DI/Foobar/obj/Foobar.csproj.nuget.dgspec.json
/ch03_DI/Foobar/obj/Foobar.csproj.nuget.g.props
/ch03_DI/Foobar/obj/Foobar.csproj.nuget.g.targets
/ch03_DI/Foobar/obj/project.assets.json
/ch03_DI/Foobar/obj/project.nuget.cache
